<!DOCTYPE html>
<html ng-app="chatApp">

<head>
<meta charset="UTF-8">
<title>Chatroom</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
<script src = "/javascripts/angular.js"></script>
<script src = "/javascripts/angular-route.js"></script>
</head>

<body>

<div class="container" style="width:50%; padding-top: 30px;">

<a class="btn btn-primary" href="#!list">List messages</a>
<a class="btn btn-success" href="#!send">Send message</a>

<div ng-view style="padding-top: 15px;"></div>
</div>

<script src = "/javascripts/chat.js"></script>